<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <title>Kész Állat</title>
</head>
<body>
    <center>
        <p>Név: <%= name %></p>
        <p>Életkor: <%= age %></p>
        <p>Faj: <%= type %></p>
        <% if (type == 'Frog') { %>
            <div></div>
            <img src="frog.jpg" width="600" alt="" srcset="">
          <% } else if (type == 'Monkey') { %>
            <img src="monkey.jpg" alt="" srcset="">
          <% } else if (type == 'Fish') { %>
            <img src="fish.jpg" alt="" srcset="">
          <% } %>
    </center>
</body>
</html>